/* body{
    font-family: Georgia, 'Times New Roman', Times, serif;
} */

/* h1,
h2{
    font-family: Arial, Helvetica, sans-serif;
} */

/* .credits{
    font-family: 'Courier New', Courier, monospace;
} */

/* FONT SIZE */
/* pixels */
/* p{
    font-size: 16px;
} */
/* percentage */
/* p{
    font size: 500%;
} */
/* default values */
/* p{
   font-size: larger; 
} */
/* p{
    font-size: 3em;
} */

/* FONT FACE */
/* @font-face {
    font-family: mine;
    src: url(./fonts/DancingScript-Bold.ttf);
}
h1{
    font-family: mine;
}
p{
    font-family: mine;
} */

/* FONT WEIGHT */
/* p{
    font-weight: 900;
} */

/* FONT STYLE */
/* h1{
    font-style: italic;
} */

/* using id selector and comparing 3 styles */
/* #normal{
    font-style: normal;
}

#italic{
    font-style: italic;
}

#oblique{
    font-style: oblique;
} */

/* TEXT TRANSFORMATION */
/* hello guys <= lowercase */
/* HELLO GUYS <= uppercase */
/* Hello Guys <= capitalized */
/* h1{
    text-transform: lowercase;
}
h1{
    text-transform: capitalize
}
h1{
    text-transform: uppercase;
} */

/* TEXT DECORATION */
/* #none{
    text-decoration: none;
}
#underline{
    text-decoration: underline;
}
#overline{
    text-decoration: overline;
}

#line-through{
    text-decoration: line-through;
}
#blink{
    text-decoration: blink;
} */

/* LINE HEIGHT/ LEADING */
p{
    line-height: 14px;
}