/* body{
    font-family: Georgia, 'Times New Roman', Times, serif;
} */

/* h1,
h2{
    font-family: Arial, Helvetica, sans-serif;
} */

/* .credits{
    font-family: 'Courier New', Courier, monospace;
} */

/* FONT SIZE */
/* pixels */
/* p{
    font-size: 16px;
} */
/* percentage */
/* p{
    font size: 500%;
} */
/* default values */
/* p{
   font-size: larger; 
} */
/* p{
    font-size: 3em;
} */

/* FONT FACE */
/* @font-face {
    font-family: mine;
    src: url(./fonts/DancingScript-Bold.ttf);
}
h1{
    font-family: mine;
}
p{
    font-family: mine;
} */

/* FONT WEIGHT */
/* p{
    font-weight: 900;
} */

/* FONT STYLE */
/* h1{
    font-style: italic;
} */

/* using id selector and comparing 3 styles */
/* #normal{
    font-style: normal;
}

#italic{
    font-style: italic;
}

#oblique{
    font-style: oblique;
} */

/* TEXT TRANSFORMATION */
/* hello guys <= lowercase */
/* HELLO GUYS <= uppercase */
/* Hello Guys <= capitalized */
/* h1{
    text-transform: lowercase;
}
h1{
    text-transform: capitalize
}
h1{
    text-transform: uppercase;
} */

/* TEXT DECORATION */
/* #none{
    text-decoration: none;
}
#underline{
    text-decoration: underline;
}
#overline{
    text-decoration: overline;
}

#line-through{
    text-decoration: line-through;
}
#blink{
    text-decoration: blink;
} */

/* LINE HEIGHT/ LEADING */
/* p{
    line-height: 14px;
} */

/* LETTER AND WORD SPACING */
/* word spacing */
/* h1{
    word-spacing: 5px;
} */
/* letter spacing */
/* h1{
    letter-spacing: -9px;
} */
 
/* text align */
/* p{
    text-align: center;
}
p{
    text-align: justify;
} */

/* vertical alignmemnt */
/* img{
    vertical-align: top;
} */

/* text indent */
/* p{
    text-indent: 50px
} */

/* text shadow */
/* h1{
    background-color: #cccccc;
color: #ffffff;
text-shadow: 2px 2px 7px #111111;}
} */

/* first letter or first line */
/* p::first-letter{
    color: red;
} */
/* p::first-line{
    color: red;
} */

/* styling links */
/* a:link{
    color: green;
}

a:visited{
    color:red ;
} */

/* responding to user */
/* hover */
 /* input.button{
    background-color: red;
}
input.button:active{
    background-color: wheat;
} */
    
/* input.button:focus{
    background-color: aqua;
}
input #textbox:focus {
    background-color: pink;
} */

/* attributes selectors */
/* existence */
/* h1[test]{
    color: red;
} */
/* equality */
/* h1[test="hi"]{
    color: green;
} */
/* space */
/* h1[test~='jenn']{
    color: pink;
} */
/* prefix */
/* h1[test^="h"]{
    color: red;
} */

/* substring */
/* h1[test*="ll"]{
    color: red;
} */

/* suffix */
/* h1[test$="l"]{
    color: red;
} */