/* body{
    font-family: cursive;
}

h1,
h2{
    font-family: Arial, Helvetica, sans-serif;
}

.first{
    font-family: 'Courier New', Courier, monospace;
} */

/* FONT-SIZE */
/* pixels */
/* p{
    font-size: 30px;
} */
/* default values */
/* p{
    font-size: larger;
} */